.materilune-preset-bar {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#presets {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

#presets > .unity-button {
    min-width: 80px;
    margin-left: 1px;
    margin-right: 1px;
}

#presets > .materilune-preset-bar__item--active {
    -unity-font-style: bold;
    border-bottom-width: 2px;
}

#add-button {
    width: 24px;
    min-width: 24px;
    margin-left: 2px;
    padding-left: 0;
    padding-right: 0;
}
